<!DOCTYPE html>
<link href="../../assets/css/Membership.css" rel="stylesheet">
<html lang="ko"> <!-- 한국어문서만 검색할때, 음성으로 할때 한국어 음성지원 -->
    <head>
        <meta charset="UTF-8"> <!-- 브라우저가 문서를 해석할때 필요한 정보 -->
        <title>스타일시트</title>
        <!-- 스타일시트자리 -->
    </head>

    <body>
        <h2>MEMBERSHIP</h2>
        <h3>회원권 등록</h3>

        <div>
            <table id="membership-price">
                <tr>
                    <th>1개월</th>
                    <td>110,000</td>
                </tr>
                <tr>
                    <th>3개월</th>
                    <td>210,000</td>
                </tr>
                <tr>
                    <th>6개월</th>
                    <td>350,000</td>
                </tr>
                <tr>
                    <th>12개월</th>
                    <td>550,000</td>
                </tr>
            </table>
        </div>
        

        <div>
            <form v-on:submit.prevent="register" method="post">

                <div>
                    <label>등록일수</label><br>
                    <label for="30"> 30일 </label>
                    <input type="radio" name="remainDate" id="30" value="30" v-model="generalVo.remainDate">
                    <label for="90"> 90일 </label>
                    <input type="radio" name="remainDate" id="90" value="90" v-model="generalVo.remainDate">
                    <label for="180"> 180일 </label>
                    <input type="radio" name="remainDate" id="180" value="180" v-model="generalVo.remainDate">
                    <label for="360"> 360일 </label>
                    <input type="radio" name="remainDate" id="360" value="360" v-model="generalVo.remainDate">
                </div>
                <div class="button-area">
                    <button type="submit" id="btn-submit">회원권 등록</button>
                </div>
            </form>
        </div>
    </body>

</html>