#header{
    width: 1125px;
    height: 150px;
    background-color: rgb(255, 0, 102);
    border-radius: 40px 40px 0px 0px;
}
#header span{
    font-size: 90px;
    font-family: "VITRO CORE TTF";
    font-style: italic;
    color: #fff;
    margin-left: 70px;
    line-height: 150px;
}
#header button{
    float: right;
    width: 150px;
    height: 100px;
    margin-top: 23px;
    margin-right: 30px;
    border-radius: 20px;
    border: 0px;
    font-size: 45px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 0, 102);
    cursor: pointer;
}