@charset "UTF-8";

body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
    margin: 0;
    padding: 0;
}

.memberJoinform {
    width: 1125px;
    height: 2436px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

#join-heading {
    font-size: 150px;
    font-style: italic;
    font-family: "VITRO CORE TTF";
    color: rgb(255, 0, 102);
    line-height: 0.6;
    text-align: center;
    left: 179.187px;
    top: 214.5px;
    z-index: 28;
    padding-top: 197px;
}

.member-join {
    font-size: 80px;
    font-family: "VITRO CORE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.125;
    text-align: center;
    left: 414px;
    top: 460.328px;
    z-index: 29;
    margin-top: 75px;
}

/*id*/
#id-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
}

.id {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;


}

.idbox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    left: 330px;
    top: 602px;
    width: 578px;
    height: 70px;
    z-index: 4;
    margin-left: 55px;
    margin-right: 15px;
    font-size: 50px;
}

/* 중복된아이디 */
.duid {
    font-size: 50px;
    font-family: "VITRO PRIDE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.8;
    text-align: center;
    left: 409px;
    top: 782.08px;
    z-index: 12;
    margin-left: 60px;
}

/* 중복체크박스 */
.dvcheck {
    border-radius: 30px;
    background-color: rgb(255, 0, 102);
    left: 933px;
    top: 579px;
    width: 100px;
    height: 73px;
    z-index: 11;
    font-size: 20px;
    font-family: "VITRO CORE TTF";
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1px;
    left: 958px;
    top: 632.664px;
    z-index: 25;
    cursor: pointer;

}

#pw-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 40px;
}

.pw {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.pwbox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    left: 330px;
    top: 834px;
    width: 578px;
    height: 65px;
    z-index: 5;
    margin-left: 23px;
}

#name-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 40px;
}

.name {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.namebox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    left: 333px;
    top: 995px;
    width: 579px;
    height: 65px;
    z-index: 6;
    margin-left: 23px;

}

#age-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 40px;
}

.age {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.agebox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    left: 333px;
    top: 1156px;
    width: 579px;
    height: 65px;
    z-index: 7;
    margin-left: 23px;
}

#address-all {
    height: 100px;
    display: flex;
    margin-left: 200px;
    
}

.address {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.addressbox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 37px;
    left: 333px;
    top: 1317px;
    width: 579px;
    height: 195px;
    z-index: 8;
    margin-left: 23px;

}

#hp-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 150px
}

.hp {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.hpbox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    left: 337px;
    top: 1608px;
    width: 578px;
    height: 65px;
    z-index: 9;
    margin-left: 40px;
}

#gender-all {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.gender {
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    text-align: center;
    left: 181.203px;
    top: 1846.902px;
    z-index: 21;
}

.genderbox {
    font-family: "VITRO INSPIRE TTF";
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    left: 337px;
    top: 1769px;
    width: 578px;
    height: 65px;
    z-index: 10;
    margin-left: 23px;
}

.mjoin {
    border-width: 6px;
    border-color: rgb(255, 0, 102);
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(49, 49, 49);
    text-align: center;
    left: 351px;
    top: 1961px;
    width: 434px;
    height: 194px;
    z-index: 23;
    font-size: 80px;
    font-family: "VITRO CORE TTF";
    font-style: italic;
    color: rgb(255, 0, 102);
    line-height: 1.125;
    text-align: center;
    left: 401px;
    top: 2098.328px;
    z-index: 24;
    cursor: pointer;
}