@charset "UTF-8";

#Login-body{
    width: 1125px;
    height: 2436px;
    margin: auto;
    border: 1px solid #ffffff;
    font-family: "VITRO CORE TTF";
    font-size: 20px;
    background-color: #313131;
}

#head-tag{
    font-family: "비트로 코어 OTF";
    font-size: 100px;
    color: #ffffff;
    padding-top: 100px;
    padding-left: 50px;
}

#gym-name{
    font-family: "비트로 코어 OTF";
    font-size: 150px;
    color: #ff0066;
    padding: 0px 0px 0px 150px;
    font-style: italic;
}

#thisislogin{
    font-family: "비트로 코어 OTF";
    font-size: 180px;
    color: #ff0066;
    margin-top: 80px;
    margin-right: 270px;
    font-style: italic;
    display: block;
}
#loginId{
    margin-top: 380px;
}

.form-group{
    margin-top: 45px;
    margin-left: 25px;
}

.form-text{
    width: 300px;
    font-family: "비트로 인스파이어 OTF";
    font-size: 100px;
    color: #ff0066;
    display:inline-block;
    padding: 0px 0px 0px 500px;
    font-style: italic;
}

#text-pass{
    margin: 0px 0px 0px -30px;
}

.l-button-area{
    margin: 140px 0px 0px 255px;
}

#l-btn-submit {
    width: 634px;
    height: 135px;
    border: 8px solid #ff0066;
    border-radius: 30px;
    color: #ff0066;
    font-family: "비트로 코어 OTF";
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 80px;
    cursor: pointer;
    background-color:transparent;
}

.btn-link{

    border: 7px solid #ff0066;
    border-radius: 30px;
    color: #ff0066;
    font-family: "비트로 인스파이어 OTF";
    font-size: 80px;
    text-decoration: none;
    display:inline-block;
    text-align: center;

    margin: 20px 10px 0px 5px;
    float: left;
}

#trainer-link{
    width: 290px;
    height: 170.1px;
    line-height: 100%;
    padding: 20px 3px 20px 4px;
}

#register-link{
    width: 290px;
    height: 130.1px;
    line-height: 100%;
    padding: 60px 3px 20px 3px;
}


.midpw{
    width: 700px;
    height: 115px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
    margin-left: 190px;
    font-family: "비트로 인스파이어 OTF";
    font-size: 100px;
}

#l-footer{
    margin: 450px 0px 0px 210px;
}

#l-footer #l-footer-group{
    color: #ff0066;
    font-size: 60px;
    font-family: "비트로 코어 OTF";
    font-style: italic;
    margin-left: 150px;
}
#l-footer #l-Copyright{
    color: #ff0066;
    font-size: 50px;
    font-family: "비트로 프라이드 OTF";
}