@charset "UTF-8";


    


/*강사 로그인*/
#back{
    width: 1125px;
    height: 2436px;
    background-color: #313131;
    font-family: "VITRO CORE TTF";
    text-align: center;
}
#back2{
    width: 1064.99px;
    height: 2000px;
    background-color: #ffffff;
    border: 30px #ff0066 solid;
    border-radius: 0px 0px 80px 80px;
}
#trainerback2{
    width: 1064.99px;
    height: 1700px;
    background-color: #ffffff;
    border: 30px #ff0066 solid;
    border-radius: 0px 0px 80px 80px;
}
#fir{
    font-size: 80px;
    color: #313131;
    font-style: italic;
    padding-right: 280px;
    margin-top: 50px;
}
#fir>.na{
    font-size: 130px;
    color: #ff0066;
}
#sec{
    font-size: 130px;
    margin-bottom: 30px;
    color: #313131;
}

#pi{
    width: 350px;
    height: 350px;
    border: 10px #ff0066 solid;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 40px;
}
#allcount{
    font-size: 60px;
    width: 600px;
    height: 49px;
    color: #313131;
}
#sercount{
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    width: 173.59 px;
    color: #ff0066;
}
#count{
    padding-left: 60px;
    padding-bottom: 80px;
}

#box33{
    text-decoration: none;
    width: 285px;
    height: 284px;
    background-color: #ff0066;
    border-style: none;
    margin-right: 50px;
    border-radius: 30px;
    font-size: 60px;
    font-family: "VITRO CORE TTF";
    color: #ffffff;
}
#box34{
    text-decoration: none;
    width: 285px;
    height: 284px;
    background-color: #ff0066;
    border-radius: 30px;
    border-style: none;
    font-size: 60px;
    font-family: "VITRO CORE TTF";
    color: #ffffff;
    margin-bottom: 30px;
}
#box34 {
    text-decoration: none;
}

#box35{
    width: 463px;
    height: 125px;
    background-color: #ff0066;
    border-radius: 20px;
    border-style: none;
    font-family: "VITRO CORE TTF";
    font-size: 60px;
    color: #ffffff;
    margin-right: 25px;

}
#box35 {
    text-decoration: none;
}

#box36{
    width: 463px;
    height: 125px;
    background-color: #ff0066;
    border-radius: 20px;
    border-style: none;
    font-family: "VITRO CORE TTF";
    font-size: 60px;
    color: #ffffff;

}
#boxbox{
    margin-top: 30px;
}
#can{
    width: 375px;
    height: 375px;
}
#main_footer{
    margin-top: 80px;
}
#cccc{
    font-family: "VITRO CORE TTF";
    font-size: 60px;
    color: #ff0066;
    margin-bottom: 20px;
    margin-top: 20px;
    font-style: italic;
}
#mmmm{
    font-family: "VITRO PRIDE TTF";
    font-size: 50px;
    color: #ff0066;
    margin-top: 20px;
}



/*멤버 로그인*/
#oooo{
    height: 683px;
}
#tttt{
    font-size: 60px;
    font-family: "VITRO CORE TTF";
    color: #313131;
    padding-top: 45px;
    width: 450px;
}
#yyyy{
    font-size: 70px;
    font-family: "VITRO INSPIRE TTF";
    color: #ff0066;
    padding-top: 50px;
}
.yyyt{
    padding-left: 50px;
}
#tkdtp{
    font-size: 55px;
    font-family: "VITRO INSPIRE TTF";
    width: 200px;
    height: 100px;
    border: none;
    color: #ffffff;
    background-color: #ff0066;
    border-radius: 15px;
    margin-left: 30px;
}
.box99{
    width: 1063px;
    height: 300px;
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}

.dlqtlf{
    width: 275px;
    height: 275px;
    border: none;
    color: #ffffff;
    background-color: #ff0066;
    font-family: "VITRO CORE TTF";
    font-size: 90px;
    border-radius: 30px;
    float: left;
    margin-left: 60px;
}
#xpdlqmf{
    float: right;
    font-family: "VITRO INSPIRE TTF";
    font-size: 60px;
    margin-right: 100px;
}
#t1{
    width: 191px;
    height: 96px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 40px;
}

#t2{
    width: 311px;
    height: 96px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ff0066;
    
}

#qqqq{
    margin-left: 95px;
}
#box37{
    width: 940px;
    height: 125px;
    background-color: #ff0066;
    border-radius: 20px;
    border-style: none;
    font-family: "VITRO CORE TTF";
    font-size: 60px;
    color: #ffffff;
}