/* Manager section */
#manager {
    background-size: cover;
    background-color: #313131;
    padding: 20px;
}

/* Header */
#head {
    background-color: rgb(255, 0, 102);
    padding: 10px;
    border-radius: 30px 30px 0 0 ;
    width: 1500px;
}

h1 {
    font-family: "VITRO CORE TTF";
    font-size: 45px;
    font-style: italic;
    color: #fff;
    margin-left: 30px;
    display: inline-block;
}
h2{
    font-family: "VITRO INSPIRE TTF";
    font-size: 35px;
    color: #fff;
    float: right;
    margin-top: 7px;
    margin-right: 20px;
}
h3{
    font-family: "VITRO INSPIRE TTF";
    font-size: 30px;
    color: rgb(255, 0, 102);
    margin-top: 20px;
    margin-left: 30px;
}
h4{
    font-family: "VITRO PRIDE TTF";
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
    margin-left: 40px;
}

/* Table */
#memSubmitBtn{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 25px;
    font-family: "VITRO INSPIRE TTF";
    background-color: rgb(255, 0, 102);
    color: #fff;
    border: 5px solid #fff;
}
#MemListForm label{
    font-family: "VITRO PRIDE TTF";
    font-size: 25px;
    color: #fff;
    margin-left: 40px;
    margin-right: 30px;
}
#MemListForm .MemListinput{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#MemListForm .MemListAddress{
    width: 860px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.ManagerTable {
    margin-top: 30px;
    margin-left: 30px;
    width: 1450px;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

th, td {
    padding: 8px;
    text-align: center;
}

.ManagerTablehead{
    font-family: "VITRO INSPIRE TTF";
    color: rgb(255, 0, 102);
    font-size: 25px;
    border-bottom:  3px solid #a6a6a6;
}

.ManagerTablebody{
    font-family: "VITRO PRIDE TTF";
    font-size: 18px;
    font-weight: bold;
}
.ManagerTablebody tr{
    border-bottom: 3px solid #ccc;
}
.ManagerTablebody tr:hover{
    background-color: #ccc;
}


/* Pagination */
#paging {
    margin-top: 20px;
}

#paging ul {
    list-style-type: none;
    padding: 0;
}

#paging li {
    display: inline-block;
    margin-right: 5px;
}

#paging a {
    font-family: "VITRO PRIDE TTF";
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    color: #000;
}

#paging a:hover {
    background-color: #ccc;
}