@charset "UTF-8";
/*memberList1*/
#MbCommentList{
    width: 1125px;
    height: 2436px;
    background-color: #313131;
    text-align: center;
}
#Mbtxt{
    padding-top: 50px;
    font-size: 150px;
    font-family: "VITRO CORE TTF";
    color: #ff0066;
    margin: 0;
    font-style: italic;
}
#CallMb{
    font-size: 100px;
    font-family: "VITRO CORE TTF";
    color: #ffffff;
}
#Mb{
    font-size: 130px;
    color: #ff0066;
    font-style: italic;
}
#Hp{
    font-size: 60px;
    font-family: "VITRO CORE TTF";
    color: #ffffff;
    margin-bottom: 40px;
}
#post{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: #ff0066;
    border: none;
    font-size: 50px;
    font-family: "VITRO CORE TTF";
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 60px;
}
#ptInfo{
    margin-bottom: 50px;
}
a{
    text-decoration-line: none;
}
#ptAll{
    background-color: #ffffff;
    width: 920px;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 50px;
}
#iiijijij{
    overflow:scroll;
    width:1125px; 
    height: 1000px;
    scrollbar-width: none;
}


#dateCmt{
    background-color: #ffffff;
    width: 920px;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 35px;
}
.work-outCmt{
    background-color: #ffffff;
    width: 920px;
    margin: 0 auto
}
.todaycmt{
    padding-left: 20px;
    width: 900px;
    font-size: 32px;
    font-family: "VITRO PRIDE TTF";
    border-style: hidden;
}
.register {
    border-radius: 20px;
    background-color: rgb(255, 0, 102);
    width: 130px;
    height: 90px;
    font-size: 40px;
    margin-top: 30px;
    font-family: "VITRO CORE TTF";
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1px;
    cursor: pointer;
}
.tab2{
    font-size: 40px;
    font-family: "VITRO CORE TTF";
    color: #313131;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #444444;
    
}
.tab3{
    font-size: 35px;
    font-family: "VITRO PRIDE TTF";
    color: #313131;
    padding-right: 50px;
    height: 64px;
    border-bottom: 1px solid #444444;
    
}
#bline {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }